{% extends 'base.html' %}

{% block content %}
<!-- hero section -->
<section class="border-b-2 border-primary">
    <section class="w-[95%] m-auto py-8 px-4 md:py-14 md:flex md:gap-16 md:items-center lg:gap-28">
        <div class="mb-6">
            <div class="mb-6">
                <h1 class="text-2xl md:text-3xl lg:text-4xl mb-4">Lorem ipsum dolor sit amet consectetur</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus veritatis dolor pariatur laudantium quo magnam assumenda at accusantium, fugiat quasi modi est sequi, incidunt, sint debitis architecto consectetur placeat amet.</p>
            </div>
            {% if user.is_authenticated %}
            <button class="bg-primary text-white px-[28px] py-[6px] rounded-[4px]  hover:opacity-50 focus:opacity-50"><a href="{% url 'Home:user_recipe'%}">Start Writing</a></button>
            {% else %}
            <button class="bg-primary text-white px-[28px] py-[6px] rounded-[4px]  hover:opacity-50 focus:opacity-50"><a href="{% url 'users:register'%}">Start Writing</a></button>
            {% endif %}
        </div>
        <div>
            <img src="/static/images/hero.png" alt="hero">
        </div>
    </section>
</section>

<!-- about section -->
<section class="border-b-2 border-primary md:flex md:justify-between">
    <section class="w-[95%] m-auto py-8 px-4">
        <p class="text-2xl md:text-3xl lg:text-4xl">About Us</p>
        <div class="md:grid md:grid-cols-[348px_175px] md:gap-10 md:mt-8 lg:grid-cols-[428px_255px]">
            <div >
                <img src="/static/images/about.png" alt="about" >
            </div>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus veritatis dolor pariatur laudantium quo magnam assumenda at accusantium, fugiat quasi modi est sequi, incidunt, sint debitis architecto consectetur placeat amet.</p>    
        </div>
    </section>
    <section class="hidden md:visible">
        <img src="/static/svg/cooking illustration.svg" alt="cooking">
    </section>
</section>

<!-- mission section -->
<section class="border-b-2 border-primary lg:flex lg:justify-between">
    <section class="hidden lg:block ">
        <img src="/static/svg/soup illustration.svg" alt="soup">
    </section>
    <section class="md:flex md:flex-col py-8 px-4 ">
        <p class="text-2xl md:text-3xl lg:text-4xl md:">Our Mission</p>
        <div class="md:grid md:grid-cols-[348px_175px] md:w-max md:gap-10 md:mt-8 lg:grid-cols-[448px_275px] ">
            
            <div>
                <img src="/static/images/mission.png" alt="mission">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus veritatis dolor pariatur laudantium quo magnam assumenda at accusantium, fugiat quasi modi est sequi, incidunt, sint debitis architecto consectetur placeat amet.</p>    
        </div>   </section>
</section>


<!-- testimonials -->
<section>
    <section class="m-auto py-8 px-4 w-[95%]">

        <p class="text-2xl mb-6 text-center md:text-3xl lg:text-4xl">Testimonials</p>
    
        <div class="flex justify-center flex-wrap gap-10 items-center">
            <div class="h-[109px] w-[298px] p-6 bg-white rounded-lg shadow border border-[#d9d9d9] flex-col justify-start items-start gap-6 inline-flex ">
                <div class="self-stretch justify-start items-start gap-3 inline-flex">
                    <div class="w-10 h-10 rounded-full justify-center items-center flex">
                        <img class="w-10 h-10" src="/static/images/avatar_1.png" />
                    </div>
                    <div class="grow shrink basis-0 flex-col justify-start items-start gap-0.5 inline-flex">
                        <div class="self-stretch text-[#757575] text-xl tracking-widest">Sarah Behemoth</div>
                        <div class="self-stretch text-black text-xs tracking-wide">Maecenas vitae mattis tellus.. Lorem ipsum dolor sit amet </div>
                    </div>
                </div>
            </div>
        
            <div class="h-[109px] w-[298px] p-6 bg-white rounded-lg shadow border border-[#d9d9d9] flex-col justify-start items-start gap-6 inline-flex ">
                <div class="self-stretch justify-start items-start gap-3 inline-flex">
                    <div class="w-10 h-10 rounded-full justify-center items-center flex">
                        <img class="w-10 h-10" src="/static/images/avatar_2.png" />
                    </div>
                    <div class="grow shrink basis-0 flex-col justify-start items-start gap-0.5 inline-flex">
                        <div class="self-stretch text-[#757575] text-xl tracking-widest">Sasha Necron</div>
                        <div class="self-stretch text-black text-xs tracking-wide">Maecenas vitae mattis tellus.. Lorem ipsum dolor sit amet </div>
                    </div>
                </div>
            </div>
        
            <div class="h-[109px] w-[298px] p-6 bg-white rounded-lg shadow border border-[#d9d9d9] flex-col justify-start items-start gap-6 inline-flex ">
                <div class="self-stretch justify-start items-start gap-3 inline-flex">
                    <div class="w-10 h-10 rounded-full justify-center items-center flex">
                        <img class="w-10 h-10" src="/static/images/avatar_3.png" />
                    </div>
                    <div class="grow shrink basis-0 flex-col justify-start items-start gap-0.5 inline-flex">
                        <div class="self-stretch text-[#757575] text-xl tracking-widest">Vikas Gulati</div>
                        <div class="self-stretch text-black text-xs tracking-wide">Maecenas vitae mattis tellus.. Lorem ipsum dolor sit amet </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


{% endblock content %}